.SearchCity {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 20px 0 20px 0;

  &__input {
    max-width: 530px;
    width: 100%;
    height: 44px;
    border: 2px solid blue;
    border-radius: 5px;
    padding: 2px 10px;
    &::placeholder{
      font-size: 16px;
      color: gray;
      font-style: italic;
    }
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: orange;
    color: white;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    border: 1px solid white;
    font-size: 18px;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }
}
.validation-message {
  margin-bottom: 30px;
}

@media (max-width: 576px) {
  .SearchCity {
    margin: 10px 0 20px 0;
  }
}