.Header {
  margin: 0 auto;
  .link {
    text-decoration: none;
  }
  .logo {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;

    .blue-letter {
      color: blue;
    }
    .yellow-letter {
      color: orange;
    }
  }

  &__nav {
    font-size: 20px;
    justify-content: space-between;
    margin-left: 50px;

    &_block {
      display: flex;
      gap: 30px;
    }
    &_item {
      display: flex;
      list-style: none;
      gap: 20px;
      padding: 0;
      a{
        text-decoration: none;
        color: black;
        display: inline-block;
        &:hover {
          color: blue;
          transform: scale(1.1);
        }

        &:active  {
          color: blue;
        }
      }
    }

  }
  &__lang {
    cursor: pointer;
    color: blue;
  }
}

@media (max-width: 576px) {
  .Header {
    &__nav {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      justify-content:  space-between;
      align-items: flex-end;
      height: 100%;

      &_block {
        flex-direction: column;
        gap: 0px;
      }
      &_item {
        margin-bottom: 10px;
        align-self: flex-end;
      }
    }
  }
}
.show {
  overflow: hidden;
}